* {
	font-size: 10px;
}

body {
	background-color: white;
}




/* SO I DON'T HAVE TO CONSTANTLY SQUINT */

.blur {
	/*filter: blur(0.5rem);*/
	filter: blur(0.5rem) contrast(2000%) brightness(100%);
}





.paper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(9rem + 8 * 0.25rem + 2 * 1rem);
}

.letter {
    position: relative;
	display: inline-grid;
	grid-column-gap: 0.25rem;
	grid-row-gap: 0.25rem;
	align-items: center;
	justify-items: center;

	width: auto;
	padding: 1rem;
	margin: 0 0 -3rem 0;

	background-color: white;
	mix-blend-mode: multiply;

	/*outline: 1px solid black;*/
}

#a-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(6, 1rem);

	padding-right: 0.5rem;
}

#b-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(6, 1rem);

	padding-left: 0.5rem;
}

#c-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);
}

#d-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(6, 1rem);

	padding-left: 0.5rem;
}

#e-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);
}

#f-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(4, 1rem);

	padding-left: 0.75rem;
	padding-right: 0.25rem;
}

#g-lower-1 {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(5, 1rem);

	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

#g-lower-2 {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(5, 1rem);

	padding-left: 1.25rem;}

#h-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);
}

#i-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(3, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#j-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(3, 1rem);

	padding-left: 0.75rem;
	padding-right: 0.25rem;
}

#k-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	padding-right: 0.25rem;
}

#l-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(3, 1rem);
}

#m-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(9, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#n-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#o-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);
}

#p-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(6, 1rem);

	padding-left: 0.5rem;
}

#q-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(6, 1rem);

	padding-right: 0.5rem;
}

#r-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.25rem;
}

#s-lower-1 {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);

	padding-right: 0.5rem;
}

#s-lower-2 {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(4, 1rem);
}

#t-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(4, 1rem);

	padding-left: 0.25rem;
	padding-right: 0rem;
}

#u-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#v-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.75rem;
}

#w-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(9, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#x-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

#y-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(7, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.75rem;
}

#z-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(6, 1rem);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
}


/* DOTS */

.empty {
	background-color: rgba(0, 0, 0, 0.0);
	width: 0.75rem;
	height: 0.75rem;
}

.dot {
	background-color: black;
	border-radius: 2rem;
}

.dot-0-25 {
	width: 0.25rem;
	height: 0.25rem;
}

.dot-0-5 {
	width: 0.5rem;
	height: 0.5rem;
}

.dot-0-75 {
	width: 0.75rem;
	height: 0.75rem;
}

.dot-1-0 {
	width: 1rem;
	height: 1rem;
}

.dot-1-25 {
	width: 1.25rem;
	height: 1.25rem;
}

.dot-1-5 {
	width: 1.5rem;
	height: 1.5rem;
}

.dot-1-75 {
	width: 1.75rem;
	height: 1.75rem;
}

.dot-2-0 {
	width: 2rem;
	height: 2rem;
}


/* HOVER ANIMATION */

@keyframes redhot {
	0% {background-color: black;}
	100% {background-color: red;}
}

.dot {
	transition: 0.25s;
}

.dot:hover {
	width: 3.5rem;
	height: 3.5rem;
	/*background-color: red;*/
	z-index: 1000;
}

.letter:hover {
	/*display: inline-block;*/
}


