/* STRUCTURE */

* {
	font-size: 1px;
}

body {
/*	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;*/
	/*background: red;*/
}

.letter {
	position: relative;
	display: inline-block;
	width: 100px; /* ADJUST THIS TO CHANGE THE TRACKING */
	height: 350px; /* ADJUST THIS TO CHANGE THE LEADING */
	margin: 15px;
}



/* BASE + COUNTERS */

.letter {
	background-color: rgba(0, 0, 0, 0.0);
}

.base {
	background-color: black;
	position: absolute;
}

.counter {
	background-color: white;
	position: absolute;
}


/* MORE SPECIFIC DIMENSIONS + SHAPES */

.base-circ1 {
	width: 100rem;
	height: 100rem;

	border-radius: 50rem;
}

.base-semicirc1 {
	width: 60rem;
	height: 30rem;

	border-radius: 40rem 40rem 0 0;
}

.counter-circ1 {
	width: 80rem;
	height: 80rem;

	border-radius: 40rem;
}

.counter-oval1 {
	width: 60rem;
	height: 80rem;

	border-radius: 40rem;
}



/* POSITIONING OF SHAPES FOR EACH LETTER */

.base-circ1.letter-g {
	top: 25rem;
}

.base-semicirc1.letter-g {
	top: 0;
	left: 60rem;
}

.counter-oval1.letter-g {
	top: 35rem;
	left: 21rem;
}