* {
	font-size: 10px;
}

body {
	background-color: white;

	margin-top: 0rem;
	margin-left: 0rem;
}


/* CURSOR */

.cursor {
	position: fixed;
	width: 7rem;
	height: 2rem;
	padding: 0.85rem 0.5rem 0.15rem 0.5rem;

	background-color: black;
	color: white;
	font-size: 1rem;
	text-align: center;
}




/* SO I DON'T HAVE TO CONSTANTLY SQUINT */

.blur {
	/*filter: blur(0.5rem);*/
	filter: blur(0.5rem) contrast(2000%) brightness(100%);

	margin-top: 0rem;
	margin-left: 0rem;
}



.hello-letter {
	display: inline-grid;
}

.bye-letter {
	display: none;
}

.showcase {
	display: inline-grid;
}



.paper {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 4rem);
	height: calc(100vh - 4rem);

	padding: 2rem;

	overflow: scroll;

	transition-duration: 2.5s;
}


.drawer {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100vw - 4rem);
	height: calc(100vh - 4rem);

	padding: 2rem;

	overflow: scroll;

	transition-duration: 2.5s;

	z-index: -1000;
}

.letter {
    position: relative;
	grid-column-gap: 0.25rem;
	grid-row-gap: 0.25rem;
	align-items: center;
	justify-items: center;

	width: auto;
	height: calc(12rem + 0.25rem*11);
	padding: 1rem;
	margin: 0 0 -3rem 0;

	background-color: white;
	mix-blend-mode: multiply;

	/*outline: 1px solid black;*/
}

#space {
	grid-template-rows: repeat(1, 1rem);
	grid-template-columns: repeat(2, 1rem);
}

/*#a-lower-1 {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(6, 1rem);

	margin-right: 0.25rem;
}*/

#a-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(8, 1rem);

	margin-left: -1rem;
	margin-right: -1rem;
}

#a-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);

	margin-right: -0.75rem;
}

#b-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);
}

#b-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(6, 1rem);

	margin-left: -0.5rem;
}

#c-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-right: -0.75rem;
}

#c-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);

	margin-right: -0.75rem;
}

#d-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(8, 1rem);
}

#d-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(6, 1rem);

	margin-right: -0.5rem;
}

#e-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);
}

#e-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);

	margin-right: -0.75rem;
}

#f-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-right: -1rem;
}

#f-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(4, 1rem);

	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

#g-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(8, 1rem);

	margin-right: -0.75rem;
}

#g-lower-1 {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(5, 1rem);

	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

#g-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(5, 1rem);

	margin-left: 0.25rem;
}

#h-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(8, 1rem);
}

#h-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-right: -0.5rem;
}

#i-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(3, 1rem);
}

#i-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(3, 1rem);

	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

#j-upper {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(4, 1rem);

	margin-left: -1.5rem;
}

#j-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(3, 1rem);

	margin-left: -0.25rem;
	margin-right: -0.75rem;
}

#k-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(8, 1rem);

	margin-right: -0.75rem;
}

#k-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-right: -0.75rem;
}

#l-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-right: -1rem;
}

#l-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(3, 1rem);
}

#m-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(10, 1rem);

	margin-left: -0.25rem;
}

#m-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(9, 1rem);

	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

#n-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(9, 1rem);

	margin-left: -0.25rem;
	margin-right: -1rem;
}

#n-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

#o-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(8, 1rem);
}

#o-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);
}

#p-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-right: -0.5rem;
}

#p-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(6, 1rem);

	margin-left: -0.5rem;
}

#q-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(9, 1rem);

	margin-right: -1rem;
}

#q-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(6, 1rem);

	margin-right: -0.5rem;
}

#r-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(8, 1rem);

	margin-right: -0.5rem;
}

#r-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);

	margin-left: -0.5rem;
	margin-right: -0.75rem;
}

/*#s-lower-1 {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(5, 1rem);

	margin-right: 0.5rem;
}*/

#s-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);
}

#s-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(4, 1rem);
}

#t-upper {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-left: -1rem;
	margin-right: -1rem;
}

#t-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(4, 1rem);

	margin-left: -0.75rem;
	margin-right: -1rem;
}

#u-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

#v-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-left: -1.5rem;
	margin-right: -1.75rem;
}

#w-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(9, 1rem);

	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

#x-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

#y-lower {
	grid-template-rows: repeat(12, 1rem);
	grid-template-columns: repeat(7, 1rem);

	margin-left: -1.5rem;
	margin-right: -1.75rem;
}

#z-lower {
	grid-template-rows: repeat(9, 1rem);
	grid-template-columns: repeat(6, 1rem);

	margin-right: -1.5rem;
}


/* DOTS */

.empty {
	background-color: rgba(0, 0, 0, 0.0);
	width: 0.75rem;
	height: 0.75rem;
}

.dot {
	background-color: black;
	border-radius: 2rem;
}

.dot-0-25 {
	width: 0.25rem;
	height: 0.25rem;
}

.dot-0-5 {
	width: 0.5rem;
	height: 0.5rem;
}

.dot-0-75 {
	width: 0.75rem;
	height: 0.75rem;
}

.dot-1-0 {
	width: 1rem;
	height: 1rem;
}

.dot-1-25 {
	width: 1.25rem;
	height: 1.25rem;
}

.dot-1-5 {
	width: 1.5rem;
	height: 1.5rem;
}

.dot-1-75 {
	width: 1.75rem;
	height: 1.75rem;
}

.dot-2-0 {
	width: 2rem;
	height: 2rem;
}


/* HOVER ANIMATION */

.dot {
	transition: 0.5s;
}

.dot:hover {
	width: 3.5rem;
	height: 3.5rem;
	/*background-color: red;*/
	z-index: 1000;
}

.letter:hover {
	/*display: inline-block;*/
}


