* {
	font-size: 1.24vw;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgb(180,195,215);
}

.specimen {
	display: flex;
	column-gap: 0rem;

	width: fit-content;
	height: fit-content;
	margin-bottom: 3rem;

	background-color: rgba(0,0,0,0);
}

@media only screen and (max-width: 600px) {
	* {
		font-size: 1.24vw;
	}

	.specimen {
		height: fit-content;
		margin-bottom: 3rem;
	}
}

.letter {
	grid-column-gap: 0;
}

.dot {
	background-color: rgb(40,30,30);
}