* {
	font-size: 1.2vw;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 3rem;

	background-color: white;
}

.specimen {
	display: flex;
	column-gap: 0rem;

	width: fit-content;
	height: fit-content;
	margin-bottom: 1rem;

	background-color: rgba(0,0,0,0);
}

@media only screen and (max-width: 600px) {
	.specimen {
		margin-bottom: 1rem;
	}
}

.dot {
	background-color: black;
}

iframe {
	width: 100vw;
	height: 100vh;
}