* {
	font-size: 1.24vw;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: white;
}

.specimen {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0rem;

	width: 100%;
	height: 100%;
	margin-bottom: 3rem;

	background-color: white;
	filter: blur(0.25rem) brightness(70%) contrast(5000%);
}

@media only screen and (max-width: 600px) {
	* {
		font-size: 1.24vw;
	}

	.specimen {
		height: fit-content;
		margin-bottom: 3rem;
	}
}

.dot {
	background-color: black;
}