iframe {
	position: fixed;
	margin: -0.5rem;
	border: 0;

	z-index: 1000;
}

iframe.specimen {
	cursor: zoom-in;
}

.container {
	position: fixed;
	width: 100vw;
	height: 100vh;

	/*margin: 0.5rem;*/
}

.specimen {
	mix-blend-mode: normal;
	z-index: -1000;
}

.specimen-frame.root {
	width: 100vw;
	height: 100vh;
}

.letter {
	mix-blend-mode: normal;
	background-color: rgba(0,0,0,0);
}

.dot {
	mix-blend-mode: normal;
	border: none;
}


